
{{> head }}

{{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1>Citroen C4 Lounge </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel alias placeat architecto dolorum necessitatibus ipsum ut quisquam iure praesentium expedita, ducimus hic! Atque dolor, eius optio tenetur expedita sunt iste!</p>
        </div>

        <div class="col-4">
            <img src="assets/img/c4.jpg" class="img-thumbnail">
        </div>
       
    </div>

    {{>footer}}